<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Recipe Store: Builder</title>
  <link rel="shortcut icon" href="/assets/img/cheff-hat-64.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/chef-hat-128.png" alt="chef hat logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/profitModels">View Plans</a></div>
    <div class="navlink"><a href="/changePass">Change Password</a></div>
    
  </nav>

  <div id="errorDiv" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>

  <section id="app">

  </section>


  <script src="/assets/appBundle.js"></script>
</body>
</html>
