<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Not Found</title>
  <link rel="shortcut icon" href="/assets/img/cheff-hat-64.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/recipeStyle.css"/>
</head>
<body>

    <h1>404</h1>
    <h2>The page you were looking for is not found</h2>

  
</body>
</html>
