@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {

    font-family: 'Quicksand', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    padding-left: 15px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #250001;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #250001;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #590004;
}

#createButton {
    border: 3px solid #250001;
    background-color: #590004;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
}

#createButton:hover {
    background-color: #fcba04;
    color: black;
}

#createDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.recipeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 50px 20px 20px 20px;
    background-color: #250001;

    border: 5px solid #590004;
    border-radius: 10px;
    max-width: 600px;
    padding: 25px;
    padding-top: 50px;
    margin-top: 25px;

    overflow-y: auto;
    max-height: 80vh;
    overflow-x: hidden;
}

.recipeForm h2 {
    color: #fcba04;
    font-size: 2rem;
}

.recipeForm label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.25em;
    justify-content: start;
    color: white;
}

.recipeForm input[type=text],
.recipeForm input[type='number'],
.recipeForm select {

    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 3px solid #250001;
    border-radius: 8px;
    background-color: #590004;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}

.recipeForm input[type=submit],
#uploadedFile  {

    transition: background-color 0.4s ease;
    border: 3px solid #250001;
    background-color: #590004;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;

}


#submitRecipe:hover,
#addIngredient:hover,
#addStep:hover {

    background-color: #fcba04;
    color: black;

}


#addIngredient,
#addStep,
#submitRecipe {

    border: 3px solid #250001;
    background-color: #590004;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 5px;

}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#recipeMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#recipeMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#recipe {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

#recipes {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
}

#recipes h2 {
    text-align: center;
    font-size: 32;
    color: #250001;
}

.recipeName {
    color: #fcba04;
}

.recipe {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #A50104;
    border-radius: 10px;
    background-color: #250001;
    padding: 10px;
    min-height: 60px;
    overflow: hidden;
}

#fullRecipe {

    border: 3px solid #250001;
    background-color: #590004;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;

}

#fullRecipe:hover {
    background-color: #FCBA04;
}

.recipe h3 {
    margin: 0;
    padding: 2px;
}

#recipeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 10px;
}


img.recipelogo {
    margin-left: 50px;
    margin-top: 50px;
    height: 75px;
    width: 75px;
    float: left;
}

h3.emptyRecipe {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.recipeName {
    font-weight: bold;
    font-size: 1.75em;
}

.recipeRating,
.recipeTime,
.recipeCalories,
.recipeServings {
    color: white;
}

#editIcon,
#deleteIcon {
    color: #fcba04;
    width: 30px;
    height: 30px;
}

#editIcon:hover,
#deleteIcon:hover {
    color: #a50104;
    width: 30px;
    height: 30px;
}



#recipeActions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#rating{
    width: 50px;
}




.recipe:first-child {
    margin-top: 10px;
}

.recipe:last-child {
    margin-bottom: 10px;
}